{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/leagues/view">Leagues</a></li>
        <li><a href="/teams/view_club_teams">Club Teams</a></li>
        <li><a href="/teams/view_national_teams">National Teams</a></li>
        <li><a href="/players/view">Players</a></li>
        <li><a href="/coaches/view">Coaches</a></li>
        <li><a href="/favorite_players/view">Fav. Players</a></li>
        <li><a href="/favorite_teams/view">Fav. Teams</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
    {% for message in messages %}
    {% if 'success' in message.tags %}

    <div class="alert alert-success">
        <a class="close" href="{% url 'view_favorite_teams' %}" data-dismiss="alert">×</a>

            {{ message }}

    </div>
{% endif %}
{% endfor %}

{% for message in messages %}
{% if 'error' in message.tags %}
    <div class="alert alert-danger">
        <a class="close" href="{% url 'view_favorite_players' %}" data-dismiss="alert">×</a>

            {{ message }}

    </div>
{% endif %}
{% endfor %}
{% for message in messages %}
{% if 'info' in message.tags %}
    <div class="alert alert-info">
        <a class="close" href="{% url 'view_favorite_players' %}" data-dismiss="alert">×</a>

            {{ message }}

    </div>
{% endif %}
    {% endfor %}
    <div class="container">
        
        <h1 class="heading">Log In</h1><br>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label class="labelstyle" for="{{field.name}}">{{field.label}}</label> 
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block" >Log In</button>
        </form>
        
        <div class="login-help">
            <div class="text-center">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></div>
            <div class="text-center">Want to remove your account? <a href="{% url 'remove' %}">Remove account</a></div>
        </div>
</div>
