{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <div class="container">
        <h1 class="heading">Log In</h1><br>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label class="labelstyle" for="{{field.name}}">{{field.label}}</label> 
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block" >Log In</button>
        </form>
        
        <div class="login-help">
            <div class="text-center">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></div>
            <div class="text-center">Want to remove your account? <a href="{% url 'remove' %}">Remove account</a></div>
        </div>
</div>
