{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <div class="container">
        <h1 class="heading">Remove Account</h1><br>
        <h3>Enter username and password to verify account removal</h5><br>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label class="labelstyle" for="{{field.name}}">{{field.label}}</label> 
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block" >Remove Account</button>
        </form>
        
        <div class="login-help">
            <div class="text-center">Second thoughts?<a href="{% url 'login' %}">Log in</a></div>
        </div>
</div>