<!DOCTYPE html>
{% load coaches_extras %}
<html lang="en">
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/leagues/view">Leagues</a></li>
        <li><a href="/teams/view_club_teams">Club Teams</a></li>
        <li><a href="/teams/view_national_teams">National Teams</a></li>
        <li><a href="/players/view">Players</a></li>
        <li><a href="/coaches/view">Coaches</a></li>
        <li><a href="/tournaments/view">Tournaments</a></li>
        <li><a href="/favorite_players/view">Fav. Players</a></li>
        <li><a href="/favorite_teams/view">Fav. Teams</a></li>
        {% if request.session.user %}
        <li><a href="{% url 'logout' %}">Log out</a></li>
        {% endif %}
      </ul>
  </div><!-- /.container-fluid -->
</nav>
<h1>Edit Coach</h1>
{% with primary_key='full_name' %}
{% with table_name='coaches' %}
<form name="edit{{table_name}}" method="POST" action="/{{table_name}}/edit?{{primary_key}}={% dict_get params primary_key %}"> {% csrf_token %}
    {% for column in columns %}
        <label for="{{column}}">{{column}}</label>
        <input type="text" id="{{column}}" name="{{column}}" placeholder="{{column}}" size="10" value="{% dict_get record column %}">
        <br>
    {% endfor %}
    <a href="javascript:document.edit{{table_name}}.submit()">Submit</a>
</form>
{% endwith %}
{% endwith %}
</html>