{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="{% static 'css/individual.css' %}">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!DOCTYPE html>
{% load leagues_extras %}
<script>
    function searchRedirect() {
        var columns = ['league_name', 'country', 'trophy', 'level', 'number_of_teams'];
        var redirectParams = [];
        for (var i = 0; i < columns.length; i++) {
            var searchVal = document.getElementById(columns[i]).value;
            if (searchVal != "") {
                redirectParams.push(columns[i] + "=" + searchVal);
            }
        }
        document.location.search = redirectParams.join("&");
    }
</script>
<html lang="en">
    <div class="container">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            {% if request.session.user %}
                    <li><h3>hello, {{request.session.user}}</h3></li>
                {% endif %}
            <li><a href="/">Home</a></li>
            <li><a href="/leagues/view">Leagues</a></li>
            <li><a href="/teams/view_club_teams">Club Teams</a></li>
            <li><a href="/teams/view_national_teams">National Teams</a></li>
            <li><a href="/players/view">Players</a></li>
            <li><a href="/coaches/view">Coaches</a></li>
            <li><a href="/tournaments/view">Tournaments</a></li>
            <li><a href="/favorite_players/view">Fav. Players</a></li>
            <li><a href="/favorite_teams/view">Fav. Teams</a></li>
            {% if request.session.user %}
            <li><a href="{% url 'logout' %}">Log out</a></li>
            {% endif %}
          </ul>
  </div><!-- /.container-fluid -->
</nav>
{% with primary_key='league_name' %}
{% with table_name='leagues' %}
<span style="display: flex; flex: 1; width: 18%; flex-direction: row; justify-content: space-between; align-items: center"><h1 style="color: white">Leagues</h1><a style="height: 30px; width: 100px" class="btn btn-success" href="/{{table_name}}/add">Add League</a></span>
<div class="table-responsive" style="width: 80%; height: 75%; background-color: white; padding: 15px; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
border-radius: 0.5rem">
<table class="table">
    <tr>
        {% for column in columns %}
            <input type="text" id="{{column}}" name="{{column}}" placeholder="{{column}}" size="10" value="{% dict_get params column %}">
        {% endfor %}
    </tr>
    <button id="btn-search" onclick="searchRedirect()">Search</button>
    <tr>
        {% for column in columns %}
            <td>{{column}}</td>
        {% endfor %}
    </tr>
    {% for record in records %}
        <tr>
            {% for column in columns %}
                {% if column == primary_key %}
                    <td><a href="/{{table_name}}/edit?{{primary_key}}={% dict_get record column %}">{% dict_get record column %}</a></td>
                {% endif %}
                {% if column != primary_key %}
                    <td>{% dict_get record column %}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endwith %}
{% endwith %}
</div>
</div>
</html>