{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!DOCTYPE html>
{% load teams_extras %}
<script>
    function searchRedirect() {
        alert("in searchRedirect");
        var columns = ['name', 'num_champs', 'num_wins', 'num_losses', 'num_ties', 'payroll', 'league'];
        var redirectParams = [];
        for (var i = 0; i < columns.length; i++) {
            var searchVal = document.getElementById(columns[i]).value;
            if (searchVal != "") {
                redirectParams.push(columns[i] + "=" + searchVal);
            }
        }
        document.location.search = redirectParams.join("&");
    }
</script>
<html lang="en">
{% if request.session.user %}
    <h1>hello, {{request.session.user}}</h1>
{% endif %}
<h1>Club Teams</h1>
{% with primary_key='name' %}
{% with table_name='teams' %}
<table class="table">
    <tr>
        {% for column in columns %}
            <input type="text" id="{{column}}" name="{{column}}" placeholder="{{column}}" size="10" value="{% dict_get params column %}">
        {% endfor %}
    </tr>
    <button id="btn-search" onclick="searchRedirect()">Search</button>
    <tr>
        {% for column in columns %}
            <td>{{column}}</td>
        {% endfor %}
    </tr>
    {% for record in records %}
        <tr>
            {% for column in columns %}
                {% if column == primary_key %}
                    <td><a href="/{{table_name}}/edit_club_team?{{primary_key}}={% dict_get record column %}">{% dict_get record column %}</a></td>
                {% endif %}
                {% if column != primary_key %}
                    <td>{% dict_get record column %}</td>
                {% endif %}
            {% endfor %}
            <td><a class="btn btn-info" href="/{{table_name}}/favorite/{% dict_get record primary_key %}">add to favorites</a></td>
        </tr>
    {% endfor %}
</table>
{% endwith %}
{% endwith %}
</html>