{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!DOCTYPE html>
{% load teams_extras %}
<html lang="en">
{% for message in messages %}
    {% if 'error' in message.tags %}
        <div class="alert alert-warning">
            <a class="close" href="{% url 'view_favorite_players' %}" data-dismiss="alert">×</a>
                {{ message }}
        </div>
    {% endif %}
{% endfor %}
<h1>Edit Team</h1>
{% with primary_key='name' %}
{% with table_name='teams' %}
{% with team_type='type' %}
<form name="edit{{table_name}}" method="POST" action="/{{table_name}}/edit_{{type}}_team?{{primary_key}}={% dict_get params primary_key %}"> {% csrf_token %}
    {% for column in columns %}
        <label for="{{column}}">{{column}}</label>
        <input type="text" id="{{column}}" name="{{column}}" placeholder="{{column}}" value="{% dict_get record column %}">
        <br>
    {% endfor %}
    <a href="javascript:document.edit{{table_name}}.submit()">Submit</a>
</form>
{% endwith %}
{% endwith %}
{% endwith %}
</html>