{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!DOCTYPE html>
{% load players_extras %}
<html lang="en">
{% if request.session.user %}
    <h1>hello, {{request.session.user}}</h1>
{% endif %}
{% with primary_key='long_name' %}
{% with table_name='players' %}
<h1>{% dict_get record primary_key %}</h1>
<a class="btn btn-success" href="/{{table_name}}/favorite/{% dict_get record 'long_name' %}">Favorite Player</a>
<a class="btn btn-info" href="/{{table_name}}/edit?{{primary_key}}={% dict_get record primary_key %}">Edit Player</a><br>
<table class="table">
    <tr>
        {% for column in columns %}
            {% if column != primary_key %}
                <td>{{column}}</td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr>
        {% for column in columns %}
            {% if column != primary_key %}
                <td>{% dict_get record column %}</td>
            {% endif %}
        {% endfor %}
    </tr>
</table>
{% endwith %}
{% endwith %}
</html>